[submodule "arduino-lib-oled"]
	path = arduino-lib-oled
	url = git@github.com:durydevelop/arduino-lib-oled.git
[submodule "sha-2"]
	path = sha-2
	url = https://github.com/amosnier/sha-2.git
[submodule "bcl"]
	path = bcl
	url = git@github.com:sleepdefic1t/bcl.git
[submodule "QRCode"]
	path = QRCode
	url = git@github.com:ricmoo/QRCode.git
[submodule "micro-ecc"]
	path = micro-ecc
	url = git@github.com:kmackay/micro-ecc.git
